<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profil Muhammadiyah</title>
    <style>
        .text-center {
            text-align: center;
        }
    </style>
</head>
<body>
    <h1 class="text-center"><b>Profil Muhammadiyah</b></h1>
    <font size="4"><p><dd>Muhammadiyah adalah sebuah organisasi Islam yang besar di Indonesia. Nama organisasi ini diambil dari nama Nabi Muhammad SAW, sehingga Muhammadiyah juga</dd>dapat dikenal sebagai orang-orang yang menjadi pengikut Nabi Muhammad SAW. Muhammadiyah memiliki arti pengikut Nabi Muhammad.</p></font>
    <font size="4"><p>Pendiri : KH. Ahmad Dahlan<br>Didirikan : 18 November 1912<br>Kantor pusat : Yogyakarta<br>Tipe bisnis : Organisasi Masyarakat Islam<br>Ketua : Prof. Dr. K.H. Haedar Nashir, M.Si.<br>Tujuan : Agama Islam, Pendidikan, Sosial, Kesehatan, dan Ekonomi<br>Sekertaris jendral : Prof. Dr. Abdul Mu'ti, M.Ed</p></font>
    <ul>
        <li><a href="/" title="home">home</a></li>
    </ul>
</body>